//TODO:  Add media tags for responsive resizing and layout.
@import "../../scss/googleFonts";

.MSO {
    font-size: 20px;
}

.NavBar {
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
    &__links {
        margin: 5px;
        width: 50%;
        display: flex;
        justify-content: space-around;
    }
    @import "../../scss/links";
    &__link {
        border: 2px solid black;
        margin: 10px;
        text-decoration: none;
    }
}
