@import "../../scss/googleFonts";

.SearchBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid black;
    &__input {
        border: none;
        margin-left: 5px;
    }
    &__btn {
        border: none;
        background: none;
    }
}
